---
layout: page
title: CalTTC
permalink: /
---

<!-- Slider Start -->
<section id="slider">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-2">
        <div class="block">
          <h1 class="animated fadeInUp">Cal Table Tennis Club (CalTTC)</h1>
          <p class="animated fadeInUp">fillerrrrrrrrrr</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Wrapper Start -->
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>About Us</h2>
            <p>Ping pong or Table Tennis?</p>
          </div>
          <p>We are the <b>Cal Table Tennis Club</b>, a student-run sports club in the University of California, Berkeley. We strive to provide a learning and casual environment for beginners as well as a competitive setting for advanced players. Students, faculty, alumni, as well as community members are welcomed to play with us. If you have any questions feel free to send us an email using the form below or message us on Facebook! For our playing hours, please check the Open Rec schedule on our page. </p>
        </div>
      </div><!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <img src="img/wrapper-img.png" alt="Img">
        </div>
      </div><!-- .col-md-5 close -->
    </div>
  </div>
</section>

<section id="feature">
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-7">
      <h2>WHEN AND WHERE?</h2>
      <p>Friday 4:00 - 7:00pm -- Novice Training
      <br>Sunday 2:30 - 5:00pm -- Advanced Training </p>
      <p>Practices are located in the RSF.
      <br>Recreational Sports Facility, Fieldhouse Ct. C
      <br>2301 Bancroft Way Berkeley, CA 94720</p>
      <a href="#" class="btn btn-view-works">Bring me there!</a>
    </div>
  </div>
</div>
</section>

<!-- Service Start -->
<section id="service">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>Become A Member!</h2>
        <p>Learn to be disciplined, to care for your mind and body, to work with others and to be a good teammate, to deal with disappointment when you do not get the result you expect, to work harder and achieve, to reach goals, to understand sacrifice and, to understand the hours required attain success</p>
      </div>
    </div>
    <div class="row ">
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="icon ion-ribbon-a"></i>
          <h4>Professional Coaches</h4>
          <p> Receive coaching Cal Competitive Team players, former top ranked US players and National Team players. </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="icon ion-ios-game-controller-b"></i>
          <h4>Social Fun!</h4>
          <p>Biweekly socials of pristine quality and retreats and FUN!!! </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-cash"></i>
          <h4>Exclusive Offers</h4>
          <p> In generous partnership with Joola, all CalTTC members receive 30% off all Joola products purchases</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="icon ion-university"></i>
          <h4>Represent Cal</h4>
          <p>blah blah blah</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Call to action Start -->
<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>How to Sign Up?</h2>
          <p>Sign up for our mailing list below and join our Facebook group for updated schedules!</p>
          <a class="btn btn-default btn-call-to-action-mail" href="https://docs.google.com/forms/d/e/1FAIpQLSdxI3ZSOj9wnCYYUDX5ApTYnN7IQ7heolcO1ufbQ_AZwSrv2A/viewform" >Mailing list</a>
          <a class="btn btn-default btn-call-to-action-fb" href="https://www.facebook.com/groups/calttc/" > <b>Facebook</b></a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Content Start -->
<section id="testimonial">
  <div class="container">
    <div class="row">
      <div class="section-title text-center">
        <h2>Learn More About Us?</h2>
        <br>
        <p><b>under construction</b></p>
      </div>
    </div>
    <!-- <div class="row">
      <div class="col-md-6">
        {% if site.data.funfacts.size > 0 %}
        <div class="block">
          {% for ff in site.data.funfacts %}
          <ul class="counter-box clearfix">
            <li>
              <div class="block">
                <i class="{{ ff.icon }}"></i>
                <h4 class="counter">{{ ff.counter }}</h4>
                <span>{{ ff.text }}</span>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
      <div class="col-md-6">
        {% if site.data.testimonials.size > 0 %}
        <div class="testimonial-carousel">
          <div id="testimonial-slider" class="owl-carousel">
            {% for tm in site.data.testimonials %}
            <div>
                <img src="img/cotation.png" alt="IMG">
                <p>{{ tm.testimonial }}</p>
                <div class="user">
                  <img src="{{ tm.image }}" alt="Pepole">
                  <p><span>{{ tm.name }}</span> {{ tm.title }}</p>
                </div>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>
    </div> -->
  </div>
</section>
